<table class="table table-bordered table-hover" id="list1">

    <tr>
        <th>序号</th>
        <th>会员</th>
        <th>手机号</th>
        <th>类型</th>
        <th>备注</th>
        <th>时间</th>
    </tr>
    @using System.Data
    @foreach (DataRow item in @Model.Rows)
    {
        <tr class="info">
            <td>@item["xuhao"]</td>
            <td>@item["name"]</td>
            <td>@item["phonenum"]</td>
            <td>@item["operatype"]</td>
            <td>@item["remarks"]</td>
            <td>@item["operatime"]</td>
        </tr>
    }

</table>

<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="/Record/Index?pageindex=@ViewBag.paper.Prev&info=@ViewBag.paper.condition["type"]">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            @for (int i = ViewBag.paper.LinkStart; i <= ViewBag.paper.LinkEnd; i++)
            {
                <li @((i == ViewBag.paper.PageIndex) ? Html.Raw("class='active'") : null)>@Html.ActionLink(@i + "", "Index", new { pageindex = @i, type = @ViewBag.paper.condition["type"] }) </li>
            }
            <li>
                <a href="/Record/Index?pageindex=@ViewBag.paper.Next&info=@ViewBag.paper.condition["type"]">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        </ul>
    </nav>
</div>